/* TODO: style the calculator form and output to make it more visually appealing and user-friendly */
.calculator {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.calculator__form {
  display: grid;
  justify-content: center;
  margin: 3rem;
  padding: 2.5rem 1rem;
  width: 100%;
  max-width: 35rem;
  border-radius: 1rem;
  background: #d4f1ff;
  background: -webkit-linear-gradient(
    180deg,
    rgba(212, 241, 255, 1) 0%,
    rgba(219, 219, 219, 1) 48%,
    rgba(252, 244, 192, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(212, 241, 255, 1) 0%,
    rgba(219, 219, 219, 1) 48%,
    rgba(252, 244, 192, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(212, 241, 255, 1) 0%,
    rgba(219, 219, 219, 1) 48%,
    rgba(252, 244, 192, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D4F1FF", endColorstr="#FCF4C0", GradientType=0);
}

.calculator__fieldset {
  width: 100%;
  border: none;
  display: grid;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.calculator__container {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 0.8vh;
  padding-bottom: 2vh;
  margin: 0;
}

.calculator__output-container {
  text-align: center;
}

.calculator__input {
  border: none;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  min-height: 1.5rem;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  width: 21rem;
  text-align: center;
}

.calculator__select {
  border: none;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  min-height: 1.5rem;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  width: 21rem;
}

.calculator__button {
  display: block;
  padding: 0.75rem 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.calculator__button:hover {
  background: #1976d2;

}
