.header {
  margin: 0;
  display: block;
}
.header__row {
  position: relative;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(84, 77, 77, 1) 72%,
    rgba(255, 255, 255, 0) 100%
  );
  display: grid;
  justify-content: center;
  gap: 0.5rem;
}
.header__text {
  font-family: "Climate Crisis", sans-serif;
  font-size: 9.2rem;
  color: white;
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
}
.header__title {
  margin: 0 auto 0;
  padding: 0;
  width: fit-content;
}
.header__subtitle {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.2rem;
  margin: 0 auto 0;
}

.header__signature {
  position: absolute;
  color: white;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  top: 54%;
  right: 31%;
  transform: rotate(-21deg);
}

.header__signature-img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

@media screen and (max-width: 1400px) {
  .header__text {
    font-size: 7.5rem;
  }
  .header__subtitle {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1100px) {
  .header__signature {
    top: 54%;
    right: 21%;
  }
}

@media screen and (max-width: 750px) {
  .header__signature {
    font-size: 0.8rem;
    transform: none;
    top: 64%;
  }
}
